<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Student-dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
  <link rel="stylesheet" href="{% static 'css/dash.css' %}" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

  
</head>

<body>
  <header>
    <div class="logo" title="Student Study Portal">
      <img src="{% static 'images/logo1.png' %}" alt="Dashboard Banner" class="img-fluid mb-4" style="width: 130px; height: 40px;">
      {% comment %} <h1>S<span class="danger">S</span>P</h1> {% endcomment %}
    </div>
    <div class="navbar">
      {% if user.is_authenticated %}
        <a href="{% url 'home' %}" class="active">
            <span class="material-icons-sharp">home</span>
            <h6>Home</h6>
        </a>
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="material-icons-sharp">menu</span>
              <h6>Options</h6>
          </a>
      
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'notes' %}">Notes</a>
              <a class="dropdown-item" href="{% url 'assignments_list' %}">Assignments</a>
              <a class="dropdown-item" href="{% url 'youtube' %}">Youtube</a>
              <a class="dropdown-item" href="{% url 'books' %}">E-Books</a>
              <a class="dropdown-item" href="{% url 'todo' %}">Schedule</a>
              <a class="dropdown-item" href="{% url 'wikipedia' %}">Wikipedia</a>
              <a class="dropdown-item" href="{% url 'chat' %}">chat</a>



  
          </div>
        </div>
        <a href="{% url 'logout' %}">
          <span class="material-icons-sharp" onclick="">logout</span>
          <h6>Logout</h6>
        </a>
      {% else %}
        <a role="button" href="{% url 'register' %}" >
            <span class="material-icons-sharp" onclick="">how_to_reg</span>
            <h6>Register</h6>
        </a>
        <a href="{% url 'login' %}">
            <span class="material-icons-sharp" onclick="">login</span>
            <h6>Login</h6>
        </a>
      {% endif %}
    </div>
    <div id="profile-btn">
        <span class="material-icons-sharp">person</span>
    </div>
    <div class="theme-toggler" onclick="toggleTheme()">
        <span id="lightModeIcon" class="material-icons-sharp active">light_mode</span>
        <span id="darkModeIcon" class="material-icons-sharp">dark_mode</span>
    </div>
  </header>
  
  <br /><br />
  <main>
    {% if messages %}
      {% for msg in messages %}
        {% comment %} <div class="alert alert-{{msg.tags}}">{{msg}}</div> {% endcomment %}
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
  </main>

  <script>
    // Function to toggle between light and dark modes
    function toggleTheme() {
        document.body.classList.toggle("dark-theme");
        // Toggle the active class on theme icons
        document.getElementById("lightModeIcon").classList.toggle("active");
        document.getElementById("darkModeIcon").classList.toggle("active");
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


</html>