{% extends 'dashboard/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<br><br>
<div class="container">
  <div class="alert alert-info d-flex justify-content-between" role="alert">
    <h2>Available Groups To Chat</h2>
    {% comment %}
    <a href="/accounts/logout/">
      <button type="button" class="btn btn-light">Click to Log Out</button>
    </a>
    {% endcomment %}
  </div>

  {% if rooms %}
  <div class="row justify-content-center">
    {% for room in rooms %}

    <div class="col-sm-4 pb-3">
      <div class="card bg-light mb-3" style="max-width: 30rem; min-height: 10rem;">
        <div class="card-block text-center">
          <br>
          <h3 class="card-title font-weight-bold">{{room.name}}</h3>
          <h4 class=" card-title font-weight-bold">Chat with group members</h4>
          <br><br>
          <a href="/{{room.slug}}" class="btn btn-sm btn-primary mt-auto">Go to Room</a> <!-- Added mt-auto class -->
        </div>
      </div>
    </div>
    
    

    {% endfor %}

  </div>
  <div class="row justify-content-center">
  <a href="/" class="btn btn-sm btn-primary mt-auto">go back</a> <!-- Added mt-auto class -->
  </div>

  {% else %}
  <div class="alert alert-warning" role="alert">
    No Rooms Available!
  </div>
  {% endif %}
</div>



{% else %}
<div class="container">
  <div class="alert alert-info d-flex justify-content-between" role="alert">
    <h5>You are not logged in</h5>
    <a href="/accounts/logout/">
      <button type="button" class="btn btn-light"><a href="{% url 'login' %}">Log In</a></button>
    </a>
  </div>
</div>
{% endif %}

<br />

{% endblock %}




